#category .category-ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #0f0f0f;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
  background: url("http://www.zuyushop.com/wap/images/arrow1.gif") right center no-repeat;
  background-color: #ededed;
}
#category .category-ul > li ul {
  display: none;
}
#category .category-ul > li ul li {
  float: left;
  width: 33.3%;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
